/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a background color and text styles to the body */
body {
    background-color: #0e4d6c;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
header, footer {
    /*background-image: url('backk.jpg'); /* Путь к изображению для фона */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0e4d6c;
    color: black; /* Цвет текста на фоне */
    padding: 20px; /* Поля для header и footer */
}

footer {
    background-image: url('backk.jpg'); /* Путь к изображению для фона футера */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.tabs {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
    color: #FF0000; /* Красный цвет текста для всех ссылок .tabs */
}
/* Стиль для синей ссылки с id "news-link" */
#news-link {
    color: #0000FF; /* Синий цвет текста для ссылки с id "news-link" */
}
/* Hover styles для всех ссылок с классом .tabs */
.tabs:hover {
    color: #00FF00; /* Изменение цвета ссылки на hover */
}
th {
    background-color: #f2f2f2;
}

img {
    width: 50%; /* Растянуть изображение по ширине ячейки */
    height: auto; /* Сохранить пропорции по высоте */
}

/* Style the header */
header {
    background-color: #0e4d6c;
    color: #D5351F;
    text-align: center;
    padding: 20px 0;
}


header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
}

nav li {
    text-align: center;
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}


nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Style the main content */
main {
    padding: 20px;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: black;
    text-align: center;
    padding: 10px 0;
}

/* Style links */
a {
    transition: color 0.3s ease;
}

a:hover {
    color: #FF5733; /* Change the link color on hover */
}
section:nth-of-type(1) {
    background-color: #e9ddc7; /* Change this to your desired background color */
}

/* Style for the second section */
section:nth-of-type(2) {
    background-color: grey; /* Change this to your desired background color */
}

/* Style for the third section */
section:nth-of-type(3) {
    background-color: #white; /* Change this to your desired background color */
}
table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td img {
    width: 50%;
    height: 50%;
    object-fit: cover; /* Сохранить пропорции и обрезать изображение при необходимости */
}
